/* definições de variaveis */

:root {
    --cor-principal: #a6a6a6;
}

/* estilização geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--cor-principal);
    padding-top: 70px; /* Espaçamento para o menu fixo no topo */
}

/* Menu fixo no topo da tela e horizontal */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    z-index: 1000; /* Garante que o menu fique sobre outros elementos */
}

/* Estilização do logo */

.logo img {
    width: 50px;
    border-radius: 10px;
}

/* Estilização dos links do menu */

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px; /* Espaçamento entre os itens do menu */
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}

nav a:hover {
    color: gray;
    transform: scale(1.05);
}

/* Estilização do botão de login */

.btn-login {
    display: flex;
    align-items: center;
}

.btn-login a {
    text-decoration: none;
}

.btn-login button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: gray;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-login button img {
    width: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.btn-login button:hover {
    box-shadow: 0px 0px 8px rgb(97, 97, 97);
}